<div class="main-tile">
    <div class="row">
        <div class="col-sm-6" *ngFor="let item of items">
            <div class="card w-100 box">
                <div class="card-body">
                  <h2 class="card-title">{{ item.Nazwa }}</h2>
                  <span class="icons float-right">
                      <ng-container *ngIf="!item.Ulubiony">
                          <i class="far fa-heart"></i>
                      </ng-container>
                      <ng-container *ngIf="item.Ulubiony">
                          <i class="fas fa-hand-holding-heart"></i>
                      </ng-container>
                      <a routerLink="/map"><i class="fas fa-map-marker-alt"></i></a>
                      <a routerLink="/single-object/{{item.id}}" style="color: black"><i class="fas fa-info-circle"></i></a>
                  </span>
                </div>
            </div>
        </div>
      </div>
</div>