<div class="container md-3 main-tile">
    <div class="row">
        <div class="col-sm-12">
          <div class="card w-100 box">
            <div class="card-body">
                <h2 class="card-title">{{ singleNews.title }}</h2>
                <p>{{ singleNews.shortInfo }}</p>
                <p class="description"> {{ singleNews.content }}</p>
                <a routerLink="/news" class="btn btn-main float-right">Powrót</a>
            </div>
          </div>
        </div>
    </div>
</div>