<nav class="navbar navbar-expand-lg navbar-dark">
  <a class="navbar-brand" routerLink="/"><img src="../assets/logo.png" alt="" class="" height="50px"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbar">
    <div class="navbar-nav mr-auto">
      <a class="nav-item nav-link" routerLink="/searching">Wyszukaj</a>
      <a class="nav-item nav-link" routerLink="/map">Mapa</a>
      <a class="nav-item nav-link" routerLink="/objects">Obiekty</a>
      <a *ngIf="activeUser" class="nav-item nav-link" routerLink="/your-objects">Twoje obiekty</a>
      <a class="nav-item nav-link" routerLink="/news">News</a>
    </div>
    <ng-container>
        <hr class="nav-line">
    </ng-container>
    <div class="navbar-nav my-2 my-lg-0">
      <a class="nav-item nav-link" routerLink="/settings">Ustawienia</a>
      <a class="nav-item nav-link" routerLink="/"(click)="logout()" *ngIf="!activeUser" >Zaloguj</a>
      <a class="nav-item nav-link" routerLink="/"(click)="logout()" *ngIf="activeUser" >Wyloguj</a>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>

