<div class="container md-3 main-tile">
    <div class="row">
        <div class="col-sm-6" *ngFor="let item of news">
            <div class="card w-100 box">
                <div class="card-body">
                  <h3 class="card-title">{{item.title}}</h3>
                  <p class="card-text">{{item.shortInfo}}</p>
                  <a routerLink="/news/{{item.id}}" class="btn btn-main float-right">Czytaj więcej</a>
                </div>
            </div>
        </div>
      </div>
</div>
