@import "../../styles.scss";

.icon {
    font-size: 25px;
    color: $button-background-color
}

.box {
    height: 100%
}

.btn {
    position: absolute;
    bottom: 15px;
}

.card-body {
    padding-bottom: 30px;
}