<div class="container md-3 main-tile">
    <h1>Najwyżej oceniane</h1>
    <div class="row display-flex">
        <div class="col-sm-6 col-box" *ngFor="let item of objects">
            
            <div class="card w-100 box">
                <div class="card-body">
                  <h2 class="card-title">{{ item.Nazwa }}</h2>
                  <img src="../../assets/logo.png" style=" max-width: 100%;
                  height: auto;" alt="Zdjęcie obiektu">
                  <div>
                    <h5 style="display:inline-block; margin-right: 10px;">Ocena</h5>
                    <span>
                        <i class="far fa-star icon"></i>
                        <i class="far fa-star icon"></i>
                        <i class="far fa-star icon"></i>
                        <i class="far fa-star icon"></i>
                        <i class="far fa-star icon"></i>
                    </span>
                  </div>
                  <p class="description">
                    {{item.Notatka}}
                  </p>
                  <a routerLink="/single-object/{{item.id}}" class="btn btn-main">Czytaj więcej</a>
                </div>
            </div>
        </div>
      </div>
</div>