<div class="container md-3 main-tile">
    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="form-group">
        <div class="row box">
          <div class="col-sm-12">
            <input type="text" class="form-control" formControlName="search"
            placeholder="Wpisz co chcesz wyszukać">
          </div>
        </div>

        <div class="row box">
            <div class="col-sm-12">
                <a class="btn btn-blue" (click)="change()">Kategorie</a>
                <button type="submit" class="btn btn-blue">Wyszukaj</button>
            </div>
            <div class="col-sm-12">
                <a routerLink="/searching/questions">
                  <small id="emailHelp" class="form-text text-muted">
                    Pomóc Ci?
                  </small>
                </a>
            </div>
            
        </div>     
      </form>
      <app-categories *ngIf="categories"></app-categories>
      <router-outlet></router-outlet>

</div>